.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #8e9eab, #eef2f3);
  overflow: hidden;
}

mat-card {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeInOut 0.5s;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-400px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

mat-form-field {
  width: 100%;
} 

.login-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
